:root {
  --default-deg: rotateY(0) rotateX(0);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f6f6f6;
}

html {
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #181818;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
a,
li,
button,
span,
label,
th,
td {
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

h1 {
  font-size: 3.125rem;
  font-size: clamp(3.125rem, 2.5892857143rem + 2.6785714286vw, 5rem);
}

h2 {
  font-size: 3rem;
  font-size: clamp(3rem, 2.7142857143rem + 1.4285714286vw, 4rem);
}

h3 {
  font-size: 2.25rem;
  font-size: clamp(2.25rem, 2.0357142857rem + 1.0714285714vw, 3rem);
}

h4 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.0357142857rem + 1.0714285714vw, 2rem);
}

p,
li,
a,
span {
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.6785714286rem + 0.3571428571vw, 1rem);
}

footer {
  display: flex;
  justify-content: center;
  padding: 24px;
  border-top: solid #f6f6f6 1px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: solid 1px #f6f6f6;
  position: relative;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  height: 80px;
}
.logo__text {
  font-size: 1.25rem;
}

.nav {
  position: absolute;
  top: 60px;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #181818;
  display: block;
  justify-content: center;
  align-items: start;
  padding: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 999;
  transition: 0.5s;
}
.nav--open {
  padding: 1.5rem 0;
  height: calc(100vh - 60px);
  pointer-events: all;
}
.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.nav__item {
  width: 100%;
  text-align: center;
  transition: 0.5s;
  font-size: 1rem;
}
.nav__item:hover {
  background-color: #b0b0b0;
}
.nav__link {
  display: block;
  padding: 1.5rem 0;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: grid;
  place-items: center;
  filter: drop-shadow(0 2px 8px #ffffff);
  transition: 1s;
  animation: title 2.5s ease-in-out;
}
@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  filter: sepia(1000%) saturate(1000%) hue-rotate(-20deg) brightness(50%) blur(4px);
  z-index: -1;
}

.slider {
  overflow: hidden;
  padding: 1.5rem;
  background: hsl(40, 100%, 50%);
  background: linear-gradient(135deg, hsl(40, 100%, 50%) 0%, hsl(0, 0%, 0%) 100%);
}
.slider__inner {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(38, 1fr);
  gap: 40px;
  animation: slider 10s linear infinite;
}
@keyframes slider {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-2185px);
  }
}

.moving-img-bg__container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  filter: brightness(0.2);
}

.moving-img-bg__image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.projects {
  width: 100%;
  height: 300px;
  display: grid;
  place-items: center;
}
.projects .link {
  position: relative;
  padding: 1rem;
}
.projects .link--text {
  font-size: 2.25rem;
  font-size: clamp(2.25rem, 2.0357142857rem + 1.0714285714vw, 3rem);
  transition: 0.3s;
}
.projects .link--text:hover {
  color: #ffaa00;
  animation: bg-flash 1s ease-in-out infinite;
}
@keyframes bg-flash {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #ffde46;
  }
  100% {
    background-color: inherit;
  }
}
.projects .link span {
  z-index: -1;
}
.projects .link span.border-animation-h-top {
  position: absolute;
  top: 0;
  animation: border-l-to-r 10s linear infinite;
  border-top: 1px solid #ffaa00;
}
@keyframes border-l-to-r {
  0% {
    width: 0%;
    left: 0%;
  }
  25% {
    width: 100%;
    left: 0%;
  }
  50% {
    width: 0%;
    left: 100%;
  }
  75% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 0%;
  }
}
.projects .link span.border-animation-h-bottom {
  position: absolute;
  top: 0;
  bottom: 0;
  animation: border-r-to-l 10s linear infinite;
  border-bottom: 1px solid #ffaa00;
}
@keyframes border-r-to-l {
  0% {
    left: 100%;
    width: 0%;
  }
  25% {
    left: 0%;
    width: 100%;
  }
  50% {
    left: 0%;
    width: 0%;
  }
  75% {
    left: 0%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
.projects .link span.border-animation-v-l {
  position: absolute;
  top: 0;
  left: 0;
  animation: border-top-to-bottom-l 10s linear infinite;
  border-left: 1px solid #ffaa00;
}
@keyframes border-top-to-bottom-l {
  0% {
    bottom: 0%;
  }
  25% {
    bottom: 100%;
  }
  75% {
    bottom: 100%;
  }
  100% {
    bottom: 0%;
  }
}
.projects .link span.border-animation-v-r {
  position: absolute;
  top: 0;
  right: 0;
  animation: border-top-to-bottom-r 10s linear infinite;
  border-left: 1px solid #ffaa00;
}
@keyframes border-top-to-bottom-r {
  0% {
    bottom: 0%;
  }
  25% {
    top: 100%;
  }
  75% {
    top: 100%;
  }
  100% {
    top: 0%;
    bottom: 0%;
  }
}/*# sourceMappingURL=styles.css.map */